.profile {
  margin: 24px 0;
  display: flex;

  &__characteristics {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }
}

.approach {
  &__title {
    margin-bottom: 8px;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__date {
    color: var(--accent-color);
  }
}
