$warning-icon-size: 15px;
$warning-icon-margin: 2px;
$arrow-size: 5px;
$arrow-color: #808080;

.asteroid {
  display: grid;
  row-gap: 8px;

  &__description {
    display: flex;
    align-items: center;
  }

  &__distance {
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid $arrow-color;

    &:before, &:after {
      position: absolute;
      display: block;
      content: '';
      width: 0;
      height: 0;
      right: -1px;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      bottom: -$arrow-size;
      border-left: $arrow-size solid $arrow-color;
    }

    &:after {
      left: -1px;
      transform: rotate(180deg);
    }
  }

  &__img {
    margin: 0 8px;
  }
}

.order {
  display: flex;
  align-items: center;

  &__btn {
    margin-right: 10px;
    padding: 2px 11px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 16px;
    color: var(--accent-color);
    background-color: rgba(248, 102, 0, 0.15);

    &_ordered {
      color: var(--font-color);
    }

    &:hover {
      color: var(--font-color);
      background-color: var(--accent-color)
    }
  }

  &__warning {
    position: relative;
    padding-left: $warning-icon-size + $warning-icon-margin;
    font-size: 0.875rem;

    &::before {
      position: absolute;
      display: block;
      width: $warning-icon-size;
      height: $warning-icon-size;
      content: "";
      top: 0;
      left: -$warning-icon-margin;
      background: center / contain no-repeat url("../../assets/img/warning-sign.png");
    }
  }
}

.params {
  &__name {
    font-weight: 700;
    text-decoration: underline;
  }

  &__size {
    font-size: 12px;
    line-height: 16px;
  }
}
